<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="chrome=1">
        <title>{{page.title}}</title>
        <link rel="stylesheet" href="/assets/stylesheets/styles.css">
        <link rel="stylesheet" href="/assets/stylesheets/pygment_trac.css">
        <script src="/assets/javascripts/jquery.min.js"></script>
        <script src="/assets/javascripts/main.js"></script>
        <!--[if lt IE 9]>
            <script src="/assets/javascripts/html5.js"></script>
        <![endif]-->
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    </head>
    
    <body>

        <header>
            <h1>Maosea0125</h1>
        </header>

        <div class="wrapper">
            <nav>
                <ul>有用工具</ul>
                <ul>微信推荐</ul>
            </nav>
            <section>{{ content }}</section>
            <footer>
                <p>
                    <small>
                        <a href="https://github.com/maosea0125">GitHub</a> &mdash; 
                        <a href="http://t.qq.com/maosea0125">腾讯微博</a> &mdash; 
                        <a href="http://weibo.com/maosea">新浪微博</a> &mdash; 
                        <a href="mailto:maosea0125@163.com">发邮件给我</a> &mdash; 
                        Hosted on GitHub Pages &mdash; 
                        Theme by <a href="https://twitter.com/michigangraham">mattgraham</a>
                        
                    </small>
                </p>
            </footer>
        </div>
        <!--[if !IE]><script>fixScale(document);</script><![endif]-->
        
    </body>
</html>
